*{
    padding: 0%;
    margin: 0%;
}

body{
    font-family:"Gabarito", sans-serif; 

}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;


}

.navbar__s1--title{
    color: #a435f0;
}

.navbar__s2{
    border: solid 1px black;
    width: 60%;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    gap: 10px;
    font-size: 24px;
    align-items: center;
    background-color: transparent;

}

.navbar__s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
}

.navbar__s2 input:focus{
    outline: none;
}

.navbar__s3{
    display: flex;
    gap: 20px;
    align-items: center;

}
.navbar__s4{
    display: none;
}

/* my learning popup*/
.mylearning{
    position: relative;
    cursor: pointer;
}

.mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    top: 150%;
    right: 0%;
    padding: 20px;
    display: none;
}
.mylearning:hover .mylearning__popup{
    display: block;
}
.s4__catogries{
    border: 1px solid black;
    display: flex;
    padding: 10px;
    justify-content: space-around;

}

.s4__catogries p{
    background-color: #a435f0;
    color: black;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    border: solid 1px #a435f0;
}
.s4__catogries p:hover{
    background-color: white;
    color: black;
    border: solid 1px #a435f0;
}

.sale__image{
    position: relative;
}

.sale__image img{
    width: 100%;

}

.sale__image-offer{
    background-color: sandybrown;
    width: 35%;
    color: white;
    top: 10%;
    left: 10%;
    padding: 2%;
    position: absolute;
    border-radius: 20px;
    animation-name: zoom;
    animation-duration: 3s;
    opacity: 0;
    -webkit-animation-fill-mode: forwards;
}
@keyframes zoom {
    0%{
        opacity: 0;
        transform: scale(0);
    }

    100%{
        opacity: 1;
        transform: scale(1);
    }
    
}

.recommended{
    padding: 10px;
}


.cource-card{
    flex-grow: 1;
    flex-basis: 20%;
    margin:5px;

}
.cource-card img{
    width: 100%;
    height: 50%;

}



.recommended__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.topics{
    padding: 10px;
}

.topics__container{
    display: flex;
    flex-wrap: wrap;
}

.topics__container p{
    border: solid grey 2px;
    padding: 10px;
    margin: 5px;
    flex-grow: 4;
    flex-basis: 20%;
    
}

.popular__title{
    padding: 10px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer__container{
    background-color: black;
    color: white;

}

.footer__one{

    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.footer__one--s1{
    padding: 20px;
    gap: 10px;
}

.footer__one p{
    margin: 20px;
}

.footer__one--s2{
    margin: 20px;
}

.footer__two{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}

/* media queries */

@media screen and (max-width:800px) {
    body{
        font-size: 10px;
    }
}

@media screen and (max-width:600px) {
    .cource-card{
        flex-basis: 40%;
    }

    .s4__catogries{
        display: none;    
    }

    .navbar__s2,.navbar__s3{
        display: none;
    }

    .navbar__s4{
        display: block;
    }

}